@page

@using Microsoft.Extensions.Options
@using RESTQueue.lib.CacheDAL
@using RESTQueue.lib.Common
@using RESTQueue.lib.Managers
@using RESTQueue.lib.Queue

@model IndexModel

@inject StorageManager StorageManager;
@inject IQueue Queue;
@inject ICache Cache;
@inject IOptions<Settings> Settings;

<h2>Server Status</h2>

@foreach (var database in StorageManager.GetStorageDatabaseStatuses())
{
    <h3>@database.Name (Database) Status</h3>
    <p>Is Online: @database.IsOnline</p>
}

<h3>@Queue.Name (Queue) Status</h3>
<p>Is Online: @Queue.IsOnline()</p>

<h3>Settings</h3>
<p>Cache Enabled: @Settings.Value.CacheEnabled</p>
<p>Cache: (@Settings.Value.CacheEnabled ? @Cache.Name : "Not Set")</p>